{% extends 'base_template.html' %}

{% block title %} FIR {% endblock %}

{% block content %}

<form action="{% url 'upload:upload' %}" enctype="multipart/form-data" method="post" class="form-horizontal">

  {% csrf_token %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="/static/smart-selects/admin/js/chainedfk.js"></script>
<script src="/static/smart-selects/admin/js/bindfields.js"></script>

  
{{ uploadForm }}
<input type="submit">
  {% endblock %}