{% extends 'base_template.html' %}

{% block title %} FIR {% endblock %}

{% block content %}

<form action="{% url 'upload:upload' %}" enctype="multipart/form-data" method="POST" class="form-horizontal">

  {% csrf_token %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="/static/smart-selects/admin/js/chainedfk.js"></script>
  <script src="/static/smart-selects/admin/js/bindfields.js"></script>

  <div class="gap-between">
  <div class="container py-5 emp-profile">
    <div class="row">
      <div class="col-md-10 mx-auto">
        <h2 class="text-center ">UPLOAD FORM</h2>
        <form>
          <div class="form-group row">
            <div class="col-sm-6">
              {{ uploadForm.name.errors }}
              <label for="{{ uploadForm.name.id_for_label }}">First name</label>
              {{ uploadForm.name }}
            </div>
            <div class="col-sm-6">
              {{ uploadForm.physical_description.errors }}
              <label for="{{ uploadForm.physical_description.id_for_label }}">Physical Description</label>
              {{ uploadForm.physical_description }}
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6">
              {{ uploadForm.age.errors }}
              <label for="{{ uploadForm.age.id_for_label }}">Age</label>
              {{ uploadForm.age }}
            </div>
            <div class="col-sm-6">
              {{ uploadForm.date.errors }}
              <label for=" {{ uploadForm.date.id_for_label }} ">Crime committed on</label>
              {{ uploadForm.date }}
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6">
              {{ uploadForm.crime_type.errors }}
              <label for=" {{ uploadForm.crime_type.id_for_label }}">Crime Type</label>
              {{ uploadForm.crime_type }}
            </div>
            <div class="col-sm-3">
              {{ uploadForm.state.errors }}
              <label for="{{ uploadForm.state.id_for_label }}">State</label>
              {{ uploadForm.state }}
            </div>
            <div class="col-sm-3">
              <label for="inputPostalCode">City</label>
              {{ uploadForm.city }}
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6">
              {{ uploadForm.arresting_agency.errors }}
              <label for="uploadForm.arresting_agency.id_for_label">Arresting Agency</label>
              {{ uploadForm.arresting_agency }}
            </div>
            <div class="col-sm-6">
              {{ uploadForm.photo.errors }}
              <label for="uploadForm.photo.id_for_label">Photo</label>
              {{ uploadForm.photo }}
            </div>
          </div>
          <button type="submit" class="btn btn-primary px-4 float-left">Save</button>
        </form>
      </div>
    </div>
  </div>
  </div>

  {% endblock %}