/* Home */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.jumbotron-fluid {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
    background-color: #1976d2;
}

.btn {
    border-color: #fcfcfc;
}

.home {
    background-image: url('../images/1.jpg');
    padding-bottom: 920px;
}

.footer {
    padding: 2px;
}

.footer p {
    margin-bottom: 0;
    font-style: italic;
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.table {
    margin-top: 10px;
}

.col-sm {
    border-style: solid;
    border-color: black;
}

.btn {
    margin-right: 8px;
    margin-top: 5px;
}


/* LOGIN CSS */
.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 80%;
    }

    .register-form{
        margin-top: 20%;
    }
}

/* BEGIN LOGIN CSS */
.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: rgb(228, 118, 15);
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: rgb(255, 255, 255);
}



/* END LOGIN CSS */


/* CRIMINAL CARDS DISPLAY */

.card {
    display: flex;
}

/* END CRIMINAL CARDS DISPLAY */