<div class="signin">
  <ul class="navbar-nav">
    {% if not user.is_authenticated %}
    <div class="half-circle">
      <li class="nav-item">
        <a class="nav-link text-uppercase {% if request.resolver_match.url_name == 'login'%} active {% endif %}"
          href="{% url 'accounts:login' %}"> Sign In </a>
      </li>
    </div>
  
    <hr class="semicircle">
  
    <div class="inverted-half-circle">
      <li class="nav-item">
        <a class="nav-link text-uppercase {% if request.resolver_match.url_name == 'signup'%} active {% endif %}"
          href=" {% url 'accounts:signup' %} "> Sign Up </a>
      </li>
    </div>
    {% endif %}
  </ul>
</div>