<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <title>{% block title %} {% endblock %}</title>
</head>

<body>
  <div class="container-fluid p-0">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
      <a class="navbar-brand" href="{% url 'home' %}">Home</a>
      <div class="navbar-brand d-md-none d-lg-none d-xl-none ml-auto">
        {{ request.resolver_match.url_name|capfirst }}
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'about'%} active {% endif %}" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'upload'%} active {% endif %}" href=" {% url 'upload:upload' %} ">Upload</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'contact'%} active {% endif %}" href="{% url 'contact:contact' %}">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'criminals' or request.resolver_match.url_name == 'search' %} active {% endif %}" href=" {% url 'criminals:criminals'%} ">Criminals</a>
          </li>
        </ul>
        <!-- Quick Search --> 
        <form class="form-inline my-2 my-lg-0 ml-auto" action=" {% url 'criminals:search'%} " method="GET">
          {% csrf_token %}
          <input class="form-control mr-sm-2 bg-transparent" type="search" name="search" placeholder="Search for criminal..."
            aria-label="Search">
          <div class="mt-1 mt-md-0">
            <button class="search btn btn-outline-light" type="submit">Search</button>
          </div>
        </form>
        <!-- Login Status -->
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <form action=" {% url 'accounts:logout'%} " method="POST">
              {% csrf_token %}
              <input class="logout" type="submit" value="Logout">
            </form>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'login'%} active {% endif %}" href="{% url 'accounts:login' %}"> Sign In </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'signup'%} active {% endif %}" href=" {% url 'accounts:signup' %} "> Sign Up </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </div>

  {% block content %} {% endblock %}

  <div class="jumbotron footer" style="margin-bottom:0">
    <p>Designed by Mareea, Sachin & Eric</p>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</body>

</html>