{% extends 'base_template.html' %}

{% block title %} Kiroku - Criminal Database {% endblock %}
{% block pagetitle %} Home {% endblock %}

{% block content %}

<!-- <div class="container-fluid home">

  </div> -->
<!-- Header -->
<header>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active s1">
        <div class="carousel-caption d-none d-md-block">
          <!--<h3>First Slide</h3>
          <p>This is a description for the first slide.</p>-->
        </div>
        <!-- <div class="half-circle">sign in</div>

            <hr class="semicircle">

            <div class="inverted-half-circle">sign up</div> -->
        {% include "auth.html" %}
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item s2">
        <div class="carousel-caption d-none d-md-block">
          <!--<h3>Second Slide</h3>
          <p>This is a description for the second slide.</p>-->
        </div>
        {% include "auth.html" %}
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item s3">
        <div class="carousel-caption d-none d-md-block">
          <!--<h3>Third Slide</h3>
          <p>This is a description for the third slide.</p>-->
        </div>
        {% include "auth.html" %}
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</header>

<!-- Services-->
<section class="page-section" id="services">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Services</h2>
      <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <!-- <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
          <i class="fas fa-database fa-stack-1x fa-inverse"></i>

        </span>
        <h4 class="my-3">Public Database</h4>
        <p class="text-muted">Our database is open to the public. Users can view and access the information about
          criminals without paying a single penny!</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>

          <i class="fas fa-file-invoice fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">User Forms</h4>
        <p class="text-muted">Users can upload forms containing details about the criminals which will be validated with
          the cops database and updated in Kiroku.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">Web Security</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto
          quo inventore harum ex magni, dicta impedit.</p>
      </div>
    </div>
  </div>
</section>

<!-- Team-->
<section class="page-section bg-light" id="team">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">The Team</h2>
      <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="{% static 'images/u3.jpg' %}" alt="" />
          <h4>Eric Miranda</h4>
          <p class="text-muted">Developer</p>
          <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
          <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="{% static 'images/u3.jpg' %}" alt="" />
          <h4>Sachin Mundassery</h4>
          <p class="text-muted">Marketer</p>
          <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
          <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="{% static 'images/u3.jpg' %}" alt="" />
          <h4>Mareea Mehbin</h4>
          <p class="text-muted">Designer</p>
          <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
          <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam
          veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
      </div>
    </div>
  </div>
</section>

{% endblock %}