{% extends 'base_template.html' %}

{% block title %} Contact Us {% endblock %}
{% block pagetitle %} Contact {% endblock %}

{% block content %}

<section class="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Contact Us</h2>
            <h3 class="section-subheading text-muted"> Reach out to us for any additional information / discrepancy </h3>
        </div>
        <form action={% url 'contactus:contact' %} method="POST" id="contactForm" name="sentMessage">
            {% csrf_token %}

            <div class="row align-items-stretch mb-5">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.name.errors }}
                        {{ form.name }}
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-group">
                        {{ form.email.errors }}
                        {{ form.email }}
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-group mb-md-0">
                        {{ form.phone.errors }}
                        {{ form.phone }}
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-textarea mb-md-0">
                        {{ form.message.errors }}
                        {{ form.message }}
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <div id="success"></div>
                <button class="btn btn-primary btn-xl text-uppercase" id="sendMessageButton" type="submit" value="Submit">Send
                    Message</button>
            </div>

        </form>
    </div>
</section>

{% endblock %}