{% extends 'base_template.html' %}

{% block content %}

<div class="container">
  <div class="row">

    {% for criminal in criminals %}

    <div class="col-sm-4 p-0">
      <div class="card w-50 mx-auto">
        <img class="card-img-top" src="{{ criminal.pic.url }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ criminal.name }}</h5>
          <p class="card-text">Crime: {{ criminal.crime }} </p>
          <p class="card-text">Location: {{ criminal.location }} </p>
          <a href="#" class="btn btn-primary">See details</a>
        </div>
      </div>
    </div>

    {% endfor %}

  </div>
</div>

{% endblock %}